/* font-family: 'Roboto', sans-serif;
font-family: 'Lobster', cursive;*/

*{
    margin: 0;
}
body{
    background-color: #f9f9f9;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

header{
    background-image: url(../image/banner.jpg);
    width: 100%;
    height: 70vh;
    font-family: 'Roboto', sans-serif;    
    background-size: cover;
    overflow: hidden;
}

nav{
    background-color: rgba(255, 255, 255, 0.89);
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 6vh;
}

#hamburger {
    display: none;
}

nav div, h1{
    margin: 0 2vh;
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 25%;
}
nav a{
    text-decoration: none;
    color: #545454;
    font-size: 10pt;
    text-transform: uppercase;
    transition: 2s;
}
.nav a:hover{
    color: rgb(63, 226, 150);
}
h1{
    font-family: 'Roboto', sans-serif;
    font-size: 15pt;
    display: block;
    color: #545454;
    position: relative;
    top: 0;
    font-weight: bold;
}
.canvas{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    width: 100%;
    height: 64vh;
}
h2{
    font-family: 'Lobster', cursive;
    font-size: 35pt;
    color: #fff;
    font-weight: bolder;
    margin-bottom: 10vh;
}
p{
    font-family: 'Roboto', sans-serif;
    font-size: 15pt;
    color: #fff;
    font-weight: 50;
    width: 40%;
    text-align: center;
}
.menulat{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color:rgba(255, 255, 255, 1);
    width: 12vh;
    height: 64vh;
    margin: 1vh 0; 
}

.menulat a{
    text-decoration: none;
    color: #545454;
    font-size: 10pt;
    text-transform: uppercase;
}
.menulat a:hover{
    color: rgb(63, 226, 150);
}
.receitas {
    display: flex;
}
.receitas h2{
    transition: 0.5s;}

.receitas h2:hover{
    color: rgb(63, 226, 150);
    cursor: pointer;
    transition: 0.5s;
}


.breakfast {
    background-image: url(../image/breakfast.jpg);
    width: 100%;
    background-size: cover;
    overflow: hidden;
    height: 64vh;
    margin: 1vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    text-shadow: 2px 2px 8px rgb(31, 31, 31);
    display: none;
}
.lunch {
    background-image: url(../image/lunch.jpg);
    width: 100%;
    background-size: cover;
    overflow: hidden;
    height: 64vh;
    margin: 1vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    text-shadow: 2px 2px 8px rgb(31, 31, 31);
    display: none;
}
.snack {
    background-image: url(../image/snack.jpg);
    width: 100%;
    background-size: cover;
    overflow: hidden;
    height: 64vh;
    margin: 1vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    text-shadow: 2px 2px 8px rgb(31, 31, 31);
    display: none;
}
.dinner {
    background-image: url(../image/dinner.jpg);
    width: 100%;
    background-size: cover;
    overflow: hidden;
    height: 64vh;
    margin: 1vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    text-shadow: 2px 2px 8px rgb(31, 31, 31);
}
.restaurantes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: #eb9a93;
    width: 100%;
    height: 66vh;
    font-family: 'Lobster', cursive;
    font-size: 20pt;
    color: #545454;
}
.restaurantes h2 {
    font-size: 20pt;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 8px rgb(31, 31, 31);
}
.gruporest {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.rest {
    display: flex;
    justify-content: center;
    flex-direction: column;
    cursor: pointer; 
    width: 200px;
    height: 200px;
    overflow: hidden;
    background-color: #fff;
    padding: 35px;
    border: #545454 5px;
    box-shadow: 5px 5px 20px rgba(85, 85, 85, 0.75);
    border-radius: 10px;
}
.rest:hover{
    background-color: rgba(255, 255, 255, 0.5);
}
.rest img {
    width: 200px;
    height: 200px;
}
.restaurantes h4 {
    font-size: 13pt;
    color: #747474;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-align: center;
    margin-top: 10px;
}
footer {
    background-color: #545454;
    width: 100%;
    height: 80vh;
    font-family: 'Roboto', sans-serif;    
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    margin-top: 1vh;
}
.newsletter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.newsletter input{
    margin: 10px;
}
.newsletter h4 {
    font-size: 13pt;
    color: #fff;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500; 
    text-transform: uppercase;
}
.newsletter h2 {
    font-size: 20pt;
    color: #fff;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-weight: 500; 
}
.midias {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    width: 15%;
}
.midias h2 {
    font-size: 20pt;
    color: #fff;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-weight: 500; 
}
.midias div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 25%;
}
.midias img {
    width: 80%;
    height: 80%;
}

@media (max-width: 600px) {
    #hamburger{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 25px;
        height: 25px;
    }
    #hamburger:hover{
        color: rgb(63, 226, 150);
    }

    .barra{
        width: 90%;
        height: 3px;
        background-color: #545454;
        border-radius: 15%;
    }
    .menu{
        display: none;
    }
    h1 {
        font-size: 10pt;
    }
    h2{
        font-size: 25pt;
        font-weight: bold;
        margin-bottom: 4vh;
    }
    p{
        font-size: 10pt;
        font-weight: 100;
        width: 40%;
        text-align: center;
    }
    .canvas{
        width: 100%;
        height: 40vh;
    }
    header{
        background-image: url(../image/banner2.jpg);
        width: 100%;
        height: 40vh;
        font-family: 'Roboto', sans-serif;    
        background-size: cover;
        overflow: hidden;
    }
    .receitas {
        display: flex;
        flex-direction: column-reverse;
    }
    .menulat{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 3vh;
        margin: 0 0 1vh 0;
    }
    .menulat a{
        font-size: 7pt;
    }
    .receitas{
        width: 100%;
        height: 40vh;
    }
    .restaurantes{
        width: 100%;
        height: 135vh;
        justify-content: flex-start;
        align-items: center;
    }
    .restaurantes h2 {
        font-size: 18pt;
        margin-top: 2vh;
        width: 70%;
        text-align: center;
    }
    .gruporest {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .rest {
        width: 225px;
        height: 225px;
        padding: 10px;
        margin-bottom: 3vh;
        align-items: center;
    }
    
    .rest img {
        width: 175px;
        height: 175px;
    }
    .restaurantes h4 {
        font-size: 10pt;
        font-weight: 300;
        margin-top: 10px;
    }
    .newsletter {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 50%;
    }
    .newsletter h2 {
        text-align: center;
    }
    .newsletter h4 {
        font-size: 13pt;
        color: #fff;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        display: inline;
        margin-right: 5%; 
        text-transform: uppercase;
    }
}
@media (min-width: 600px) and (max-width: 1028px) {
    .menu{
        width: 50%;
    }
    .rest {
        width: 20%;
        align-items: center;
        padding: 10px;
    }
    .rest img {
        width: 130px;
        height: 130px;
    }
    .restaurantes h4 {
        font-size: 13pt;
        font-weight: 500;
        text-align: center;
        margin-top: 10px;
    }
    p{
        width: 40%;
    }
}
